@media (max-width: 1000px) {
  .africore-map > .output-arrow {
    display: none;
  }

  .africore-map > .source-arrow {
    display: flex;
  }
}

@media (max-width: 700px) {
  .africore-map > .source-column {
    order: 1;
  }

  .africore-map > .source-arrow {
    order: 2;
  }

  .africore-map > .core-column {
    order: 3;
  }
}
